<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mens page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <!--link rel="stylesheet" href="C:/Kapy/static/css/home.css"> -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
<style>
	
.shirt-container{
  position: absolute;
  top: 35%;
  left: 20%;
  }

.container {
  list-style-type: none;
  padding-left: 30;
  margin: 0;
  width:200px;
  height:200px;
}

.flex-container > div >a >img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  
}

.check-container {
  list-style-type: none;
  padding-left: 30;
  margin: 0;
  width:200px;
  height:200px;
}
	
.flex-container {
  display: flex;
  flex-wrap: wrap;
  }

/* Create four equal columns that sits next to each other */
.flex-container > div {
  width: 200px;
  margin: 10px;
}
</style>

</head>
  <body >
 <div class="panel">
  <img src='static/title.jpg' width="1280" height="120"> 
 </div>
 
  <div class="topnav">
  		<a class="active" href="/home">Home</a>
  		<a href="/men">Men</a>
  		<a href="/women">Women</a>
  		<a href="/boys">Boys</a>
  		<a href="/girls">Girls</a>
  		<div class="search-container">
			<form action="/search" method="get" >
   	       		<input type="text" class="searchTerm" name="q" placeholder="What will you shop for today?">
      	       		<button id="searchsub" type="submit"><i class="fa fa-search"></i></button>
   			</form>
  		</div>
    </div>
	  
    
 
   <div class="container">
   	<div class="row">
   		<div class="col-list">
        	<h4>BRANDS</h4>
		        <div class="list-group">
        			<a href="/men?view=Reflex" class="list-group-item">REFLEX</a>
			        <a href="/men?view=MLANM" class="list-group-item">MLANM</a>
			        <a href="/men?view=Gildan" class="list-group-item">GILDAN</a>
			        <a href="/men?view=Paul" class="list-group-item">PAUL JONES</a>
			        <a href="/men?view=Kenneth" class="list-group-item">KENNETH COLE</a>
		        </div>
        </div>
  	</div>
  </div>

	  <br><br><br>
	  
  <div class="check-container">
  <form id="chkform" action="/men" role="form" method="post" onsubmit="return false">
  	<legend>SIZE</legend>
	   
	   {% if cbox == null or cbox == "" %}	
            <div class="checkbox">
              <label>   <input type="checkbox" name="check" value='38' class="category" onclick="this.form.submit()">Size 38 </label>
             </div>                                   
                                            
            <div class="checkbox">
             <label>  <input type="checkbox" name="check" value='40' class="category" onclick="this.form.submit()">Size 40</label>
            </div>
            
            <div class="checkbox">
              <label>  <input type="checkbox" name="check" value='50' class="category" onclick="this.form.submit()">Size 50 </label>
            </div>
	    <div class="checkbox">
              <label>  <input type="checkbox" name="check" value='small' class="category" onclick="this.form.submit()">Small </label>
            </div>
	    <div class="checkbox">
              <label>  <input type="checkbox" name="check" value="medium" class="category" onclick="this.form.submit()">Medium</label>
            </div>
	    <div class="checkbox">
              <label>  <input type="checkbox" name="check" value="large" class="category" onclick="this.form.submit()">Large </label>
            </div>
	    <div class="checkbox">
		    <label>  <input type="checkbox" name="check" value="XL" class="category" onclick="this.form.submit()">XL </label>
            </div>
	    <div class="checkbox">
              <label>  <input type="checkbox" name="check" value="XXLarge" class="category" onclick="this.form.submit()">XXL </label>
            </div>
	  {% else %}
	  
	  	      
	  		
	  		{% if cbox[0] == '38' or cbox[1] == '38' or cbox[2] == '38' or cbox[3] == '38' or cbox[4] == '38' or cbox[5] == '38' or cbox[6] == '38' or cbox[7] == '38' or cbox[8] == '38'%}
	  			<div class="checkbox">
              			<label> <input type="checkbox" name="check" value='38' class="category" onclick="this.form.submit()" checked>Size 38 </label>
             			</div>        
	  		{% else %}
	  			<div class="checkbox">
              			<label> <input type="checkbox" name="check" value='38' class="category" onclick="this.form.submit()">Size 38 </label>
             			</div>
	  		{% endif %}
                        
	  		{% if cbox[0] == '40' or cbox[1] == '40' or cbox[2] == '40' or cbox[3] == '40' or cbox[4] == '40' or cbox[5] == '40' or cbox[6] == '40' or cbox[7] == '40' or cbox[8] == '40'%}
                    
            			<div class="checkbox">
             			<label>  <input type="checkbox" name="check" value='40' class="category" onclick="this.form.submit()" checked>Size 40</label>
            			</div>
	  		{% else %}
	  			<div class="checkbox">
             			<label>  <input type="checkbox" name="check" value='40' class="category" onclick="this.form.submit()">Size 40</label>
            			</div>
	  		{% endif %}
	  		
	  		{% if cbox[0] == '50' or cbox[1] == '50' or cbox[2] == '50' or cbox[3] == '50' or cbox[4] == '50' or cbox[5] == '50' or cbox[6] == '50' or cbox[7] == '50' or cbox[8] == '50'%}

	  			<div class="checkbox">
              			<label> <input type="checkbox" name="check" value='50' class="category" onclick="this.form.submit()"  checked>Size 50 </label>
             			</div>        
	  		{% else %}
	  			<div class="checkbox">
              			<label> <input type="checkbox" name="check" value='50' class="category" onclick="this.form.submit()">Size 50 </label>
             			</div>
	  		{% endif %}
                        
	  		{% if cbox[0] == 'small' or cbox[1] == 'small' or cbox[2] == 'small' or cbox[3] == 'small' or cbox[4] == 'small' or cbox[5] == 'small' or cbox[6] == 'small' or cbox[7] == 'small' or cbox[8] == 'small'%}
                    
            			<div class="checkbox">
             			<label>  <input type="checkbox" name="check" value='small' class="category" onclick="this.form.submit()" checked>Small </label>
            			</div>
	  		{% else %}
	  			<div class="checkbox">
             			<label>  <input type="checkbox" name="check" value='small' class="category" onclick="this.form.submit()">Small </label>
            			</div>
	  		{% endif %}
	  
	  		{% if cbox[0] == 'medium' or cbox[1] == 'medium' or cbox[2] == 'medium' or cbox[3] == 'medium' or cbox[4] == 'medium' or cbox[5] == 'medium' or cbox[6] == 'medium' or cbox[7] == 'medium' or cbox[8] == 'medium'%}

	  			<div class="checkbox">
              			<label>  <input type="checkbox" name="check" value="medium" class="category" onclick="this.form.submit()" checked>Medium</label>
             			</div>        
	  		{% else %}
	  			<div class="checkbox">
              			<label>  <input type="checkbox" name="check" value="medium" class="category" onclick="this.form.submit()">Medium</label>
             			</div>
	  		{% endif %}
                        
	  		{% if cbox[0] == 'large' or cbox[1] == 'large' or cbox[2] == 'large' or cbox[3] == 'large' or cbox[4] == 'large' or cbox[5] == 'large' or cbox[6] == 'large' or cbox[7] == 'large' or cbox[8] == 'large'%}
                   
            			<div class="checkbox">
             			<label>  <input type="checkbox" name="check" value="large" class="category" onclick="this.form.submit()" checked>Large </label>
            			</div>
	  		{% else %}
	  			<div class="checkbox">
             			<label>  <input type="checkbox" name="check" value="large" class="category" onclick="this.form.submit()">Large </label>
            			</div>
	  		{% endif %}
	  		
	  		{% if cbox[0] == 'XL' or cbox[1] == 'XL' or cbox[2] == 'XL' or cbox[3] == 'XL' or cbox[4] == 'XL' or cbox[5] == 'XL' or cbox[6] == 'XL' or cbox[7] == 'XL' or cbox[8] == 'XL'%}

	  			<div class="checkbox">
              			<label>  <input type="checkbox" name="check" value="XL" class="category" onclick="this.form.submit()" checked>XL </label>
             			</div>        
	  		{% else %}
	  			<div class="checkbox">
              			<label>  <input type="checkbox" name="check" value="XL" class="category" onclick="this.form.submit()">XL </label>
             			</div>
	  		{% endif %}
                        
	  		{% if cbox[0] == 'XXLarge' or cbox[1] == 'XXLarge' or cbox[2] == 'XXLarge' or cbox[3] == 'XXLarge' or cbox[4] == 'XXLarge' or cbox[5] == 'XXLarge' or cbox[6] == 'XXLarge' or cbox[7] == 'XXLarge' or cbox[8] == 'XXLarge'%}
                  
            			<div class="checkbox">
             			<label>  <input type="checkbox" name="check" value="XXLarge" class="category" onclick="this.form.submit()" checked>XXL </label>
            			</div>
	  		{% else %}
	  			<div class="checkbox">
             			<label>  <input type="checkbox" name="check" value="XXLarge" class="category" onclick="this.form.submit()">XXL </label>
            			</div>
	  		{% endif %}
	  	
	  {% endif %}
                       	
  </form>
  	
 </div>
 
	  
 <div class="shirt-container">
    <div class="flex-container">
      {% for product in mencol %}
                    <div class="card">
			 <a href="/{{product.FAMILY_NAME}}?view={{product.ITEM_NUMBER}}">
			 <img src='static/{{product.ITEM_NUMBER}}.jpg' width=150px>
                          <h5>{{product.DESCRIPTION}}</h5>
                          <h5>${{product.LIST_PRICE}}</h5>
			  </a>
                   </div>
      {% endfor %}
    </div>
 </div>

  </body>
</html>
